{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!-- PAGE TITLE -->
<header class="py-8 py-md-11" style="background-image: none;">
    <div class="container text-center py-xl-2">
        <h1 class="display-4 fw-semi-bold mb-0">Update Profile</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-scroll justify-content-center">
                <li class="breadcrumb-item">
                    <a class="text-gray-800" href="#">
                        Home
                    </a>
                </li>
                <li class="breadcrumb-item text-gray-800 active" aria-current="page">
                    Update Profile
                </li>
            </ol>
        </nav>
    </div>
    <!-- Img -->
    <img class="d-none img-fluid" src="...html" alt="...">
</header>

<style>
    .login_input {

    }
</style>

<!-- PROFILE UPDATE FORM -->
<div class="container mb-11">
  <div class="row gx-0">
      <div class="col-md-7 col-xl-4 mx-auto">
          <!-- Profile Update Form -->
          <h3 class="mb-6">Update Your KEWASNET Account!</h3>
          {% include 'components/msg.html' %}
          <form method="post">
              {% csrf_token %}

              <!-- Username -->
              <div class="form-group">
                  <label for="{{ form.username.id_for_label }}">Username</label>
                  <input type="text" class="form-control login_input" name="{{ form.username.name }}" value="{{ form.username.value }}">
              </div>

              <!-- First Name -->
              <div class="form-group">
                  <label for="{{ form.first_name.id_for_label }}">First Name</label>
                  <input type="text" class="form-control login_input" name="{{ form.first_name.name }}" value="{{ form.first_name.value }}">
              </div>

              <!-- Last Name -->
              <div class="form-group">
                  <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                  <input type="text" class="form-control login_input" name="{{ form.last_name.name }}" value="{{ form.last_name.value }}">
              </div>

              <!-- Email -->
              <div class="form-group">
                  <label for="{{ form.email.id_for_label }}">Email</label>
                  <input type="email" class="form-control login_input" name="{{ form.email.name }}" value="{{ form.email.value }}">
              </div>

              <!-- Password -->
              <div class="form-group">
                  <label for="{{ form.password.id_for_label }}">Password</label>
                  <input type="password" class="form-control login_input" name="{{ form.password.name }}">
              </div>

              <!-- Confirm Password -->
              <div class="form-group">
                  <label for="{{ form.password_confirm.id_for_label }}">Confirm Password</label>
                  <input type="password" class="form-control login_input" name="{{ form.password_confirm.name }}">
              </div>

              <!-- Submit -->
              <button class="btn btn-block btn-primary" type="submit">
                  UPDATE PROFILE
              </button>
          </form>
      </div>
  </div>
</div>
{% endblock %}

